@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-green: #3BB77E;
  --brand-red: #ff6262;
}

body {
  background: var(--background);
  color: var(--foreground);
}